/*COLORS AND TYPOGRAPHY*/
:root { 
	--pureblack: #000000;
	--purewhite: #ffffff;
	--textblack: #262626;
	--headerblack: #111111;
	--color_text_placeholder: #777777;
	--color_prisliste_beskrivelse: #505050;

	--font_noto_sans: "Noto Sans", Sans-serif;
	--font_open_sans: "Open Sans", Sans-serif;
}



/*CSS RESET*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,hr,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

body {
	line-height: 1
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a{
	text-decoration: none;
}

.mobile_banner, .blockspam, .form_option{
	display: none;
}


/*GLOBAL*/
button{
	cursor: pointer;
}

.navbar, .about_me, .pricing, .contact{
	padding: 0 0.7em;
}

hr{
	margin-top: 40px;
	height: 1px;
	border: none;
	background-color: var(--pureblack);
}

.avoidwrap { display:inline-block; }

.button_img {
	width: 100%;
	height: 100%;
}

.navbar, .contact_form, .contact_form input, .contact_form textarea{
	box-sizing: border-box;
}


/*GLOBAL FONTS*/
h1{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 220%;	/* or 35px */
	color: var(--headerblack);
	width: 100%;
	height: 88px;
}

h2{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 220%;
	color: var(--textblack);
}

::placeholder {
	color: var(--color_text_placeholder);
}

p, .list_within_paragraph{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 220%;	/* or 35px */
	color: var(--textblack);
}


/*BODY*/
body{
	background-color: var(--purewhite);
	overflow: auto;
	padding-top: 10vh;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}


/* NAV */
.navbar{
	background-color: var(--purewhite);
	height: 10vh;
	max-height: 100px;
	position: fixed;
	top: 0;
	transition: top 0.3s ease;
	width: 100%;
	filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.11));
	z-index: 1;
}

.navbar, .navbar button{
	font-family: var(--font_noto_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: var(--pureblack);
	white-space: nowrap;
	background-color: var(--purewhite);
	border: none;
}

.navbar button:hover{
	font-weight: 600;
}

.navbar .container{
	max-width: 1075px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navmenu{
	display:flex;
	padding-top: 0.5vh;
}

.navmenu li{
	margin: 0 20px 0 20px;
}

#lamart_logo{
	height: 60%;
	width: 100%;
	object-fit: contain;
	object-position: left;
}

#instagram_icon button{
	height: 28px;
	width: 28px;
	margin: 1px 0 0 50px;
	cursor: pointer;
	border: none;
	background-image: url(img/instagram_icon.svg);
	padding: 0;
	display: block;
	transition: all 0.05s ease-out;
}

#instagram_icon button:hover{
	background-image: url(img/instagram_icon_colorful.svg);
	transform: scale(1.05);
}

#hamburger_button{
	display: none;
}


/* ABOUT ME */
.portrait{
	min-width: 344px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	order:1;
	flex: 1;
}

#about_me_article{
	order: 2;
}

#about_me_article p{
	width: 100%;
	height: 62%;
}

.about_me{
	padding-top: 100px;
}

.about_me > .container{
	max-width: 887px;
	margin: 0 auto;
	display:flex;
	gap: 5em;
}


/* Gallery */
.gallery{
	padding-top: 110px;
	margin: 0 auto;
	text-align:center;
	height: 100%;
	width: 100%;
}

.gallery ul {
	display: flex;
	flex-wrap: wrap;
}

.gallery li {
	height: 40vh;
	flex-grow: 1;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.gallery_link {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

.gallery_image {
	max-height: 100%;
	min-width: 100%;
	height: 100%;
	width: 100;
	object-fit: cover;
	vertical-align: bottom;
	transition: transform 0s ease;
}

#fullscreen_image {
	display: none;
	position: fixed;
	z-index: 9999;
	cursor: zoom-out;
	background-color: rgba(0, 0, 0, 0.9);
	background-size: contain;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.1);
	box-shadow:inset 0px 0px 100px black;
	top: 0;
	left: 0;
	transform: scale(0);
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.gallery li:hover .overlay {
	transform: scale(1);
}

.gallery_image:hover{
	transform: scale(1.1);
	transition: transform 3s ease-in-out;
}

#button_load_more{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: var(--pureblack);
	line-height: 35px;
	width: 126px;
	height: 51px;
	background-color: var(--purewhite);
	border: 1px solid var(--pureblack);
	filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
	transition: all 0.1s ease;
	margin: 20px 0;
}

#button_load_more:hover {
	transform: scale(1.07);
}

#gallery_header{
	font-size: 0;
	height: 0;
	width: 0;
}

.button_exit_fullscreen_view {
	display: block;
	position: absolute;
	height: 25px;
	top: 20px;
	right: 20px;
	cursor: pointer;
	filter: brightness(0) invert(1);
	border: none;
	background: none;
	padding: 0;
}


/* PRISER */
.pricing .container{
	max-width: 1258px;
	margin: 0 auto;
}

.pricing .table_container{
	display: flex;
	gap: 5vw;
	margin:25px 0;
}

.pricing_table_header{
	display: flex;
	align-items: center;
}

.divider {
	flex-grow: 1;
	border-bottom: 1px solid black;
	margin: 5px;
	padding-top: 15px;
}

.pricing h1{
	text-align:center;
	margin: 25px 0 10px 0;
}

.pricing_table h3, .pricing_table_price{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 220%;
	color: var(--pureblack);
}

.pricing_table_description{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color_prisliste_beskrivelse);
}


/* CONTACT */
.contact .container{
	max-width: 1258px;
	margin: 0 auto;
	padding-top: 1.5vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5vw;
}

.contact_form_image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contact_form{
	width: 100%;
	height: 100%;
}

.social_links {
	width: 22px;
	height: 22px;
	margin: 0 8.5px -3.3px 6px;
}

#contact_form_email_icon{
	margin-right: 5px;
	height: 19px;
}

.contact_form a,.contact_form p{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 220%;
	color: var(--textblack);
	transition: all 0.1s;
}

.contact_form a:hover{
	background-color: rgba(243, 158, 189, 0.9);
	padding: 5px 13px 5px 0px;
}

.contact_form label{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 220%;
	color: var(--pureblack);
	width: 100%;
}

.contact_form h1{
	margin-top: -16px;
	margin-bottom: -23px;
	line-height: 170%;
}

.contact_form input, .contact_form textarea{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: var(--pureblack);
	resize: none;
	
	border: 1px solid var(--pureblack);
	width: 100%;
	margin-bottom: 10px;
	padding: 0 5px;	
}

.contact_form input{
	line-height: 190%;
}

.contact_form textarea{
	line-height: 120%;
}

.contact_form button{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 200%;
	color: var(--purewhite);
	
	background-color: var(--textblack);
	border: 0;
	width: 125px;
	height: 45px;
	margin-top: 0.7em;
	filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
}

.contact_form button:hover{
	background-color: #464646;
}

.contact_form hr{
	width: 105px;
	margin: 22px 0 27px 0;
	background-color: var(--textblack);
}


/* FOOTER */
footer{
	width: 100%;
	text-align: center;
}

#button_back_to_top{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	background-color: var(--purewhite);
	border: 0;
	margin: 60px auto;
	transition: all 0.1s ease;
}

#button_back_to_top img{
	height: 22px;
	width: 37px;
}

#button_back_to_top:hover {
	transform: scale(1.15);
}

.footer_info{
	font-family: var(--font_open_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 240%;
	color: var(--purewhite);
	background-color: var(--pureblack);
}


/* SMALL SCREEN OPTIMIZATION */
@media (max-aspect-ratio: 1/1) {
	.gallery li {
		height: 30vh;
	}
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
	.gallery ul {
		flex-direction: row;
	}

	.gallery li {
		height: auto;
		width: 100%;
	}

	.gallery ul img {
		width: 100%;
		max-height: 75vh;
		min-width: 0;
	}
}

@media(max-width: 855px){
	/*NAV*/
	.navmenu{
		display: none;
	}
	
	nav{
		display: block;
		height: 70%;
		cursor: pointer;

		border: none;
		background: none;
		padding: 0;
	}

	#hamburger_button{
		display: block;
		height: 100%;
		width: 100%;
	}
	
	
	/*OM MEG*/
	.about_me .container{
		flex-direction: column;
	}
	
	.about_me{
		padding-top: 1em;
		height: 100%;
	}
	
	.portrait{
		min-width: 0;
		margin: -40px 0;
		order: 2;
	}

	#about_me_article{
		order: 1;
		width: 100%;
		height: 100%;
	}

	
	/*PRISER*/
	.pricing .table_container{
		display: block;
	}

	
	/*CONTACT*/
	.contact{
		padding: 0 0;
	}
	
	.contact .container{
		display: flex;
		flex-direction: column;
		gap:0;
		padding-top: 0;
	}
	
	.contact_form{
		width: 100%;
		padding: 0 0.7em;
		background: linear-gradient(180deg, rgba(243, 158, 189, 0.25) 0%, #F39EBD 100%);
	}
	
	.contact_form_image{
		width: 100%;
		height: 100%;
		order:2;
		transform: scaleX(-1);
		min-height: 770px;
		margin-top: -190px;
		position: relative;
		z-index: -1;
	}

	.social_links{
		margin-left: 7px;
		margin-right: 15px;
	}

	#contact_form_email_icon {
		margin-right: 12px;
	}
	
	.contact_form h1 {
		margin-top: 0.4em;
	}
	
	.contact_form a,.contact_form p{
		font-size: 16px;
	}

	
	/*FOOTER*/
	footer{
		margin-top: -26px;
	}
	
	#button_back_to_top{
		position: relative;
		height: 0;
		bottom: 105px;
		margin: 0;
		background: none;
		color: var(--purewhite);
	}
	
	#button_back_to_top img{
		filter: brightness(0) invert(1);
	}

	/*Fixes a visual bug on firefox mobile browsers*/
	@-moz-document url-prefix() {
		footer{
			margin-top: -52px;
		}
	}
	

	/*MOBILE HEADER*/
	.mobile_banner{
		display: block;
		position: relative;
		height: 85vh;
		width: 100%;
		overflow: hidden;
		text-align: center;
	}

	.mobile_banner img{
		height: 100%;
		max-height: 915px;
		width: 100%;
		object-fit: cover;
	}
	
	.mobile_banner p{
		position: absolute;
		top: 195px;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		line-height: 20px;
		padding: 0 2px;
	}
	
	.mobile_banner #second_line{
		top: 225px;
	}
}


/*FULLSCREEN NAVIGATION MENU FOR MOBILE DEVICES*/
.fullscreen_nav #lamart_logo, .fullscreen_nav #instagram_icon{
	display: none;
}

.fullscreen_nav{
	z-index: 9999;
	position: fixed;
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	transition: all 0.2s ease; /* add transition to the height and top properties */
}

.fullscreen_nav .container{
	flex-direction: column-reverse;
}

.fullscreen_nav #hamburger_button{
	display: block;
	position: absolute;
	height: 5.8vh;
	width: 5.8vh;
	top: 20px;
	right: 20px;
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
}

.fullscreen_nav .navmenu{
	display: block;
	margin: 0 auto;
	padding: 0;
}

.fullscreen_nav li{
	margin-bottom: 30px;
}

.fullscreen_nav #instagram_icon{
	display: none;
}

.fullscreen_nav .menu_seperator{
	display: none;
}